---
import {Content as Landing} from '/src/content/landing.md';
import {Navbar} from '/src/components/Navbar.astro';
import '/src/styles/global.css';


let title = 'MONA | ';
title  = title.concat('Accueil')

console.log('test début page index')
---
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">

	<style>
		
	</style>
	
</head>
<body>
	<main>
		<Navbar client:only/>
		<header>
			<div>
				<h1>Bienvenue à MONA</h1>
			</div>
		</header>

		<article>
			<Landing />
		</article>
		
	</main>
</body>
</html>
